<form action="/" method="get" accept-charset="UTF-8">

  <label for="username">User name:</label>
  <input type="text" name="username">

  <label for="email">email:</label>
  <input type="text" name="email">

  <label for="password">Password</label>
  <input type="password" name="password">
  
</form>